@import "tailwindcss";

:root {
  --primary: #222222;
  --secondary: #f9f9f9;
  --primary-accent: #59cc5d;
  --secondary-accent: #2475bc;
  --primary-accent-drk: #4caf50;
  --secondary-accent-drk: #1a568a;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-primary-accent: var(--primary-accent);
  --color-secondary-accent: var(--secondary-accent);
  --color-primary-accent-drk: var(--primary-accent-drk);
  --color-secondary-accent-drk: var(--secondary-accent-drk);
  --font-sans-serif: var(--font-hanken-grotesk);
}


/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--secondary);
  color: var(--primary);
  font-family: var(--font-hanken-grotesk);
}

